@import "common";

html, body {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	background-image: url('../img/header-bg-image.jpg');
	background-position: right top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}



#nav {
	position: fixed;
	top: 40%;
	right: 0;
	z-index: 999999;
	
	a {
		font-family: Arial, sans-serif;
		font-weight: 800;
	}

	.active {
		a {
			color: @brand3;
		}
	}
}



#header {
	position: relative;
	height: 930px;
}
#logo {
	background-image: url('../img/logo-lg.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}



#contact {
	background-color: fadeout(@brand1, 40%);
}
#map-canvas {
	border: 12px solid @brand3;
	width: 100%;
	height: 500px;
}



#events {
	
}



#tenants {

}



#faq {
	
}



#social {
	padding: 15px 0;

	.nav {
		display: inline-block;

		li {
			display: inline-block;

			a {
				&:hover {
					background-color: transparent;
					color: @brand2;
				}
			}
		}
	}
}


#footer {
	.row {
		margin: 0;
	}
	.col-lg-3 {
		padding: 0;
	}
}