@import "common";
@import "calendar";

html, body {
	position: relative;
	width: 100%;
}

// @mainImage: '../img/header-bg-image.jpg';
// @mainImage: '../img/Source_main.jpg';
// @mainImage: '../img/source_mainalt2.jpg';
@mainImage: '../img/source_mainalt3.jpg';

body {
	background-image: url(@mainImage);
	background-position: right top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}



h1 {
	font-size: 100px;
}

.btn-info:hover {
	background-color: @brand3;
}


#nav {
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
	
	&.affix-top {
		position: absolute;
		top: 930px - @navbar-height;
		margin-bottom: 0;
	}

	&.affix {
		
	}
	
	a {
		font-family: @font-family-sans-serif;
		font-weight: 100;
		font-size: 24px;
	}

	.active {
		a {
			color: @brand3;
		}
	}

	.navbar-nav {
		position: relative;
	}
}

#active-slider {
	position: absolute;
	top: 100%;
	left: 0;
	background-image: url('../img/source-active-slider.png');
	width: 75px;
	height: 29px;
	margin-left: 15px;
}

#faq {
	overflow: auto;
}

#header {
	position: relative;
	height: 930px;
}
#logo {
	background-image: url('../img/logo-lg.png');
	background-position: center 299px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 841px/2.5 299px/2.5;
	width: 100%;
	height: 100%;
}



#contact {
	background-color: fadeout(@brand1, 40%);

	.btn-lg {
		width: 200px;
	}
}
#map-canvas {
	border: 12px solid @brand3;
	width: 100%;
	height: 500px;
}



#events {
	.date {
		width: 220px;
		display: inline-block;
	}
}


#pageFold {
	position: relative;
	// padding-bottom: 700px;
}


#tenants {
	padding: 0 0 900px 0;
	min-height: 700px;

	h1 {
		a {
			color: white;
			display: block;
			font-size: 85px;
			background: url(@mainImage) no-repeat;
			background-size: cover;
			
			-webkit-background-clip: text;
			-o-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;

			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			-o-text-fill-color: transparent;
			text-fill-color: transparent;

			background-attachment: fixed;

			&:hover {
				color: @brand3;
				text-decoration: none;
				text-shadow: none; 
				cursor: pointer;
				-webkit-text-fill-color: @brand3;
				-moz-text-fill-color: @brand3;
				-o-text-fill-color: @brand3;
				text-fill-color: @brand3;
			}
		}
	}

	&.active {
		h1 a {
			font-size: 28px;
			text-align: right;
		}
	}

}

.tenant-sub-page {
	background-color: @brand2;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;

	h1 {
		position: absolute;
		bottom: 50px;
		left: 50px;
		color: @brand1;
	}

	.tenant-content {
		position: absolute;
		bottom: 50px;
		left: 50px;
	}

	.well {
		border: 10px solid @brand3;
		background-color: fadeout(@brand1, 40%);
	}

	.tenant-directory {
		position: absolute;
		top: 130px;
		right: 20px;

		li.active {
			a {
				color: @brand3;
			}
		}
	}
}



#tenant-acorn {
	background-image: url('../img/Oak_3.jpg');
	background-size: cover;
}

#tenant-boxcar {
	// background-image: url('../img/Boxcar_4.jpg');
	background-image: url('../img/source_boxcar2.jpg');
	background-size: cover;
}

#tenant-comida {
	// background-image: url('../img/SOURCE-1482.jpg');
	background-image: url('../img/Source_comida.jpg');
	background-size: cover;
}

#tenant-crooked-stave {
	// background-image: url('../img/CrookedStave_4.jpg');
	background-image: url('../img/Source_crookedstave.jpg');
	background-size: cover;
}

#tenant-mondo-market {
	// background-image: url('../img/Mondo_3.jpg');
	background-image: url('../img/source_mondo.jpg');
	background-size: cover;
}

#tenant-caprock {
	background-image: url('../img/source_caprock1.jpg');
	background-size: cover;
}

#tenant-proper-pour {
	// background-image: url('../img/source_properpour2.jpg');
	background-image: url('../img/Source_properpour1.jpg');
	background-size: cover;
}

#tenant-babettes {
	background-image: url('../img/source_babbettes.jpg');
	background-size: cover;
}

#tenant-meathead {
	background-image: url('../img/source_meathead.jpg');
	background-size: cover;
}

#tenant-american-provisions {
	background-image: url('../img/source_americanum.jpg');
	background-size: cover;
}

#tenant-beet-yarrow {
	background-image: url('../img/source_beet.jpg');
	background-size: cover;
}

#tenant-collegiate-peaks-bank {
	background-image: url('../img/source_collegeatepeaks.jpg');
	background-size: cover;
}

#tenant-svperordinary {
	background-image: url('../img/source_svperordinary.jpg');
	background-size: cover;
}


#faq {
	padding: 0;

	&.affix-top {
		position: absolute;
		top: 700px;
		left: 0;
		right: 0;
	}

	&.affix {
		position: fixed;
		top: 777px;
		margin-top: 0;
		left: 0;
		right: 0;
	}

	&.affix-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	// &.affix-bottom-important {
	// 	position: absolute !important;
	// 	bottom: 0 !important;
	// 	left: 0 !important;
	// 	right: 0 !important;
	// 	// top: 650px !important;
	// }

}



#social {
	padding: 15px 0;
	border-top: 10px solid @brand3;
	border-bottom: 10px solid @brand3;

	.nav {
		display: inline-block;

		li {
			display: inline-block;

			a {
				&:hover {
					background-color: transparent;
					color: @brand2;
				}
			}
		}
	}
}


#footer {
	.row {
		margin: 0;
	}
	.col-lg-3 {
		padding: 0;
	}
}










@media (max-width: @screen-xs-max) {
	#header {
		height: 300px;
	}
	#logo {
		background-position: 50% 87px !important;
	}
	#nav.affix-top {
		top: 300px;
	}
	h1 {
		font-size: 80px;
	}
	#tenants {
		height: 1030px !important;

		h1 a {
			font-size: 40px;
		}
	}
	.page {
		padding: 100px 0 50px 0;
		height: auto !important;
		min-height: auto !important;
	}
	#faq {
		position: static !important;
	}
	#footer {
		display: none;
	}
	#contact {
		text-align: center;
	}
}
@media (min-width: @screen-xs) and (max-width: @screen-sm) {
	#tenants {
		height: 850px !important;
	}
	#contact {
		text-align: center;
	}
}
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
	#logo {
		background-size: 841px/1.5 299px/1.5;
	}
}
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
	#logo {
		background-size: 841px 299px;
	}
}
@media (min-width: @screen-lg) {
	#logo {
		background-size: 841px 299px;
	}
}    