.text-justify {
    text-align: justify;
}

.page {
    padding: 50px 0;
    min-height: 700px;
}

.toggle {
    border-bottom: 1px solid @brand4;
    padding: 20px;

    > a {
    	text-decoration: none;
    	display: block;
    }

    .in {
    	clear: both;
    }
}